{% INCLUDECSS '@ubuntuir_stat/milk_v2_fix.min.css' %}
{% INCLUDECSS '@ubuntuir_stat/ubuntuir.min.css' %}

<div id="ubuntuir_header_before">
<!-- start header -->
<header id="ubuntuir_header">
  <!-- start ubuntu baner -->
  <div id="ubuntuir_baner">
    <!-- start ubuntu logo -->
    <a id="ubuntuir_logo" href="https://ubuntu.ir" title="صفحه اصلی اوبونتو ایران">
      <img src="{ROOT_PATH}ext/ubuntuir/stat/styles/images/logo.png" alt="صفحه اصلی اوبونتو ایران" />
    </a>
    <!-- end ubuntu logo -->
  </div>
  <!-- end ubuntu baner -->
  <!-- start header navbar -->
  <nav id="ubuntuir_header_navbar">
    <a href="https://ubuntu.ir">صفحهٔ اصلی</a>
    <a href="https://forum.ubuntu.ir">انجمن‌ها</a>
    <a href="https://wiki.ubuntu.ir">ویکی</a>
    <a href="https://videos.ubuntu.ir">ویدیو‌ها</a>
  </nav>
  <!-- end header navbar -->
</header>
<!-- end header -->
</div>
