<div id="ubuntuir_footer_before">
<!-- start footer -->
<footer id="ubuntuir_footer">
  <!-- start footer navbar-->
  <nav id="ubuntuir_footer_navbar">
    <a href="https://ubuntu.ir">صفحه اصلی</a>
    <a href="https://forum.ubuntu.ir/index.php/board,38.0.html">اخبار</a>
    <a href="https://ubuntu.com/download">دریافت</a>
    <a href="https://events.ubuntu.ir/">همایش‌ها</a>
    <a href="https://forum.ubuntu.ir/index.php/topic,242.0.html">قوانین انجمن</a>
    <a href="https://forum.ubuntu.ir/index.php?action=register"></i>ثبت نام</a>
    <a href="https://ubuntu.ir/irc">کانال‌های آی‌آرسی</a>
  </nav>
  <!-- end footer navbar-->
  <!-- start footer text-->
  <div id="ubuntuir_footer_text">
    <span>© ۱۴۰۰ جامعه فارسی‌زبان اوبونتو</span><br>
    <span>© ۲۰۲۱ شرکت کنونیکال</span><br>
    <span>اوبونتو و کنونیکال نام‌های تجاری متعلق به <bdi>Canonical Ltd</bdi> هستند.</span>
  </div>
  <!-- end footer text -->
</footer>
<!-- end footer -->
</div>
