{% INCLUDECSS '@ubuntuir_stat/ubuntuir.css' %}

<header class="ubuntu-header">
      <nav class="u-navbar">
        <div class="u-navbar__row">
          <div class="u-navbar__col">
            <a class="u-navbar__ubuntu-logo" href="https://www.ubuntu.ir">
              <svg width="126" height="32" class="u-navbar__ubuntu-logo--svg">
                <use xlink:href="#logo-ubuntuir"></use>
              </svg>
            </a>
          </div>
          <div class="u-navbar--col">
            <ul class="u-navbar--list">
              <li class="u-navbar--list--link">
                <a class="u-navbar--list--a" href="/">‌صفحه اصلی</a>
              </li>
              <li class="u-navbar--list--link">
                <a class="u-navbar--list--a" href="//forum.ubuntu.ir/">انجمن‌ها</a>
              </li>
              <li class="u-navbar--list--link">
                <a class="u-navbar--list--a" href="//wiki.ubuntu.ir/">ویکی فارسی</a>
              </li>
              <li class="u-navbar--list--link">
                <a class="u-navbar--list--a" href="//videos.ubuntu.ir/">ویدیوها</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
